<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- ログイン前後のリンク実装 -->
    <header>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
     <% if user_signed_in? %>
      <!-- ログイン後 Home ／ Users ／ Books ／ Log outリンク表示 -->
        <%= link_to "Bookers",root_path, class:"navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
         <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
           <!-- Homeリンク -->
           <li>
            <%= link_to user_path(current_user.id), class:"nav-link text-light" do %>
            <i class="fas fa-home" style="color:white;"></i> Home
            <% end %>
           </li>
           <!-- Usersリンク -->
           <li>
            <%= link_to user_registration_path, class:"nav-link text-light" do %>
            <i class="fas fa-users" style="color:white;"></i> Users
            <% end %>
           <li>
           <!-- Booksリンク -->
           <li>
            <%= link_to books_path, class:"nav-link text-light" do %>
            <i class="fas fa-book-open" style="color:white;"></i> Books
            <% end %>
           </li>
           <!-- Log outリンク -->
           <li>
            <%= link_to destroy_user_session_path, method: :delete, class:"nav-link text-light" do %>
            <i class="fas fa-sign-out-alt" style="color:white;"></i> Log out
            <% end %>
           </li>
          </ul>
         </div>
     <% else %>
      <!-- ログイン前 Home ／ About ／ Sign up ／ Log inリンク表示 -->
        <%= link_to "Bookers",root_path, class:"navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
         <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
           <!-- Homeリンク -->
           <li>
            <%= link_to root_path, class:"nav-link text-light" do %>
            <i class="fas fa-home" style="color:white;"></i> Home
            <% end %>
           </li>
           <!-- Aboutリンク -->
           <li>
            <%= link_to about_path, class:"nav-link text-light" do %>
            <i class="fas fa-link" style="color:white;"></i> About
            <% end %>
           </li>
           <!-- Sign up リンク -->
           <li>
            <%= link_to new_user_registration_path, class:"nav-link text-light" do %>
            <i class="fas fa-user-plus" style="color:white;"></i> Sign up
            <% end %>
           </li>
           <!-- Log inリンク -->
           <li>
            <%= link_to new_user_session_path, class:"nav-link text-light" do %>
            <i class="fas fa-sign-in-alt"style="color:white;"></i> Log in
            <% end %>
           </li>
          </ul>
         </div>
     <% end %>
      </div>
     </nav>
    </header>

　　<main>
　　 <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
     <% end %>
     <%= yield %>
    </main>

    <footer>
     <div class='container mt-5'>
  	  <div class='row'>
    	 <div class='mx-auto'>
    	  <p>CopyRight Infratop.inc</p>
    	 </div>
      </div>
     </div>
    </footer>

  </body>
</html>
